@import url('https://fonts.googleapis.com/css?family=Asap|Roboto');
@import url('//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css');

html, body {
    margin: 0;
}

.cursor {
    cursor: crosshair;
}

.leaflet-container {
    height: 230px;
    width: 260px;
}
