@import url('https://fonts.googleapis.com/css?family=Amatica+SC|Asap|Lato|Overlock|Pompiere|Puritan|Rambla|Roboto|Special+Elite|Ubuntu+Condensed');

html, body {
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: green;
}
